{% extends "jsonl_viewer/base.html" %}
{% load custom_filters %}

{% block title %}{{ microbe.binomial_name }}{% endblock %}

{% block extra_head %}
<style>
    /* Existing Styles */
    .warning-message {
        background-color: #fff3cd;
        color: #856404;
        border: 1px solid #ffeeba;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;
    }
    .warning-message svg {
        margin-right: 10px;
    }
    .full-width-section {
        width: 100%;
        margin-top: 20px;
    }

    /* Improved Table Styles */
    .table-wrapper {
        overflow-x: auto;
        margin-top: 20px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        min-width: 600px;
        font-family: Arial, sans-serif;
    }
    th, td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #f2f2f2;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    tr:hover {
        background-color: #f9f9f9;
    }
    .tooltip {
        position: relative;
        cursor: pointer;
        color: #007BFF;
    }
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 220px;
        background-color: #555;
        color: #fff;
        text-align: left;
        border-radius: 6px;
        padding: 8px;
        position: absolute;
        z-index: 10;
        bottom: 125%; /* Position above the text */
        left: 50%;
        margin-left: -110px;
        opacity: 0;
        transition: opacity 0.3s;
    }
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
    .ground-truth-column {
        border-right: 3px solid #888;
        font-weight: bold;
    }
    /* Responsive Adjustments */
    @media (max-width: 768px) {
        th, td {
            padding: 8px 10px;
        }
        .tooltip .tooltiptext {
            width: 180px;
            margin-left: -90px;
        }
    }
    /* Monospace Font for Predicted Values */
    .monospace {
        font-family: monospace, monospace;
    }
    /* N/A Cell Styling */
    .na-cell {
        background-color: #F0F0F0; /* Light grey */
        color: grey;
        font-size: 1em; /* Ensure consistent font size */
    }

    /* Tabs Styles */
    .tab {
        overflow: hidden;
        border-bottom: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s;
        font-size: 16px;
    }

    .tab button:hover {
        background-color: #ddd;
    }

    .tab button.active {
        background-color: #ccc;
    }

    .tabcontent {
        display: none;
        padding: 10px 0;
    }

    .tabcontent.active {
        display: block;
    }

    /* New Styles for Model Name Alignment */
    .description-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .model-name {
        font-size: 0.9em;
        color: #555;
    }
</style>
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="main-content">
        <h1><i>{{ microbe.binomial_name }}</i></h1>
        {% with clean_names=microbe.alternative_names|clean_alternative_names %}
            {% if clean_names %}
                <h3>{{ clean_names }}</h3>
            {% endif %}
        {% endwith %}

        <!-- General Information with Tabs -->
        {% with general_info=None %}
            {% if descriptions_by_type %}
                {% for type, descriptions in descriptions_by_type.items %}
                    {% if type == "General Information" %}
                        {% with general_info=descriptions %}
                            <div class="section full-width-section">
                                <h2>General Information</h2>
                                
                                {% if general_info|length > 1 %}
                                    <!-- Tabs for multiple models -->
                                    <div class="tab">
                                        {% for desc in general_info %}
                                            <button class="tablinks {% if forloop.first %}active{% endif %}" onclick="openGeneralInfoTab(event, 'GeneralInfo-{{ forloop.counter }}')">{{ desc.model }}</button>
                                        {% endfor %}
                                    </div>
                                    {% for desc in general_info %}
                                        <div id="GeneralInfo-{{ forloop.counter }}" class="tabcontent {% if forloop.first %}active{% endif %}">
                                            <div class="description-header">
                                                <span class="model-name">Source: {{ desc.model }}</span>
                                            </div>
                                            <p>{{ desc.description|markdownify }}</p>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <!-- Single description without tabs -->
                                    <span class="model-name">Source: {{ general_info.0.model }}</span>
                                    <div class="description-header">
                                        <p>{{ general_info.0.description|markdownify }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Phenotype Summary -->
        <div class="section">
            <h2>Phenotype Summary</h2>
            <ul>
                <li>Ground truth annotations for this microbe: {{ ground_truth_count }}</li>
                <li>Additional LLM-generated phenotypes for this microbe: {{ additional_predictions_count }}</li>
            </ul>
        </div>
    </div>

    <div class="infobox">

        <h2>Taxonomy</h2>
        <p><strong>Superkingdom:</strong> {{ microbe.taxonomy.superkingdom }}</p>
        <p><strong>Phylum:</strong> {{ microbe.taxonomy.phylum }}</p>
        <p><strong>Class:</strong> {{ microbe.taxonomy.class_name }}</p>
        <p><strong>Order:</strong> {{ microbe.taxonomy.order }}</p>
        <p><strong>Family:</strong> {{ microbe.taxonomy.family }}</p>
        <p><strong>Genus:</strong> {{ microbe.taxonomy.genus }}</p>
        <p><strong>Species:</strong> {{ microbe.taxonomy.species }}</p>

        <h2>NCBI ID</h2>
        <p>{{ microbe.ncbi_id }}</p>

        <h2>Genome Info</h2>
        <p><strong>FTP Path:</strong><br>{% if microbe.ftp_path %}<a href="ftp://{{ microbe.ftp_path }}" target="_blank">{{ microbe.ftp_path }}</a>{% else %}<span class="na-cell">N/A</span>{% endif %}</p>
        <p><strong>FASTA File:</strong><br>{{ microbe.fasta_file|default:"<span class='na-cell'>N/A</span>"|safe }}</p>

        <h2>Note</h2>
          <!-- Warning Message -->
          <div class="warning-message">
            <div>
            These predictions are generated by language models and might be incorrect. Please refer to individual model performance metrics before making any critical decisions.
            </div>
        </div>
    </div>
</div>

<!-- Render the rest of the descriptions -->
<div class="section full-width-section">
    <h2>Descriptions</h2>
    {% if descriptions_by_type %}
        {% for type, descriptions in descriptions_by_type.items %}
            {% if type != "General Information" and descriptions %}
                <div class="description-type-section">
                    <div class="description-header">
                        <h3>{{ type|capfirst }}</h3>
                        {% if descriptions|length == 1 %}
                            <span class="model-name">Source: {{ descriptions.0.model }}</span>
                        {% else %}
                            <!-- Tabs for multiple models -->
                            <span class="model-name"></span> <!-- Placeholder for alignment -->
                        {% endif %}
                    </div>
                    {% if descriptions|length > 1 %}
                        <div class="tab">
                            {% for desc in descriptions %}
                                <button class="tablinks {% if forloop.first %}active{% endif %}" onclick="openTab(event, '{{ type }}-{{ forloop.counter }}')">{{ desc.model }}</button>
                            {% endfor %}
                        </div>
                        {% for desc in descriptions %}
                            <div id="{{ type }}-{{ forloop.counter }}" class="tabcontent {% if forloop.first %}active{% endif %}">
                                <div class="description-header">
                                    <span class="model-name">Source: {{ desc.model }}</span>
                                </div>
                                <p>{{ desc.description|markdownify }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <!-- Single description without tabs -->
                        <p>{{ descriptions.0.description|markdownify }}</p>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No descriptions available for this microbe.</p>
    {% endif %}
</div>

<!-- Phenotypes and Predictions Table -->
<div class="section full-width-section">
    <h2>Phenotypes and Predictions</h2>
    <div class="table-description">
        <p>The table shows the phenotypes and predictions. Cell colors indicate the class of the value. When ground truth data is available, a checkmark (✓) indicates a correct prediction, while an ✗ indicates an incorrect prediction.</p>
    </div>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Phenotype</th>
                    <th class="ground-truth-column">Ground Truth</th>
                    {% for prediction in phenotype_data.0.predictions %}
                        <th>
                            <a href="{% url 'model_detail' model_name=prediction.model|urlencode %}">
                                {{ prediction.model }}
                            </a>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for data in phenotype_data %}
                    {% if data.phenotype_definition.name != "Member of WA subset" %}
                        <tr>
                            <td>
                                <a href="{% url 'model_ranking' %}#{{ data.phenotype_definition.name|slugify }}">
                                    {{ data.phenotype_definition.name|clean_phenotype }}
                                </a>
                            </td>
                            <td class="ground-truth-column {% if data.ground_truth|default:'N/A'|lower == 'n/a' %}na-cell{% endif %}" style="
                                background-color: {{ data.ground_truth|default:'N/A'|consistent_color }};
                                color: black;
                            ">
                                {% if data.ground_truth|default:'N/A'|lower == 'n/a' %}
                                    <span class="monospace">N/A</span>
                                {% else %}
                                    <span class="monospace">{{ data.ground_truth|clean_quotes }}</span>
                                {% endif %}
                            </td>
                            {% for prediction in data.predictions %}
                            <td class="{% if prediction.predicted_value|default:'N/A'|lower == 'n/a' %}na-cell{% endif %}" style="
                                background-color: {{ prediction.predicted_value|default:'N/A'|consistent_color }};
                                color: black;
                            ">
                                {% if prediction.predicted_value|default:'N/A'|lower != 'n/a' %}
                                    <span class="monospace">{{ prediction.predicted_value|clean_quotes }}</span>
                                    {% if data.ground_truth %}
                                        {% if prediction.predicted_value|normalize_value == data.ground_truth|normalize_value %}
                                            <span style="margin-left: 5px; color: green;">✓</span>
                                        {% else %}
                                            <span style="margin-left: 5px; color: red;">✗</span>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <span class="monospace">N/A</span>
                                {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% empty %}
                    <tr>
                        <td colspan="{{ 2|add:phenotype_data.0.predictions|length }}">No phenotypes available</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Debugging Section -->
<div class="section full-width-section" style="border: 2px solid red; padding: 10px; margin-top: 40px;">
    <h2 style="color: red;">🔍 Debugging Information</h2>
    <h3>descriptions_by_type:</h3>
    <pre>{{ descriptions_by_type|dictsort:"key" }}</pre>
    
    {% if descriptions_by_type %}
        <h3>"General Information" Descriptions:</h3>
        {% for type, descriptions in descriptions_by_type.items %}
            {% if type == "General Information" %}
                {% for desc in descriptions %}
                    <div style="border: 1px solid #ccc; padding: 5px; margin-bottom: 5px;">
                        <strong>Model:</strong> {{ desc.model }}<br>
                        <strong>Description:</strong> {{ desc.description }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No descriptions_by_type data available.</p>
    {% endif %}
</div>

<p><a href="{% url 'index' %}">Back to Search</a></p>

<script>
    function openTab(evt, tabName) {
        // Existing openTab function for other descriptions
        var tabcontent = document.getElementsByClassName("tabcontent");
        for (var i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
            tabcontent[i].classList.remove('active');
        }

        var tablinks = evt.currentTarget.parentNode.getElementsByTagName("button");
        for (var i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("active");
        }

        var currentTab = document.getElementById(tabName);
        if (currentTab) {
            currentTab.style.display = "block";
            currentTab.classList.add('active');
        }
        evt.currentTarget.classList.add("active");
    }

    function openGeneralInfoTab(evt, tabName) {
        // Get all elements with class="tabcontent" in General Information and hide them
        var tabcontents = document.querySelectorAll('.section.full-width-section .tabcontent');
        tabcontents.forEach(function(content) {
            content.style.display = "none";
            content.classList.remove('active');
        });

        // Get all buttons with class="tablinks" in General Information and remove the class "active"
        var tablinks = evt.currentTarget.parentNode.getElementsByTagName("button");
        for (var i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("active");
        }

        // Show the current tab and add an "active" class to the button that opened the tab
        var currentTab = document.getElementById(tabName);
        if (currentTab) {
            currentTab.style.display = "block";
            currentTab.classList.add('active');
        }
        evt.currentTarget.classList.add("active");
    }

    // Initialize the first tab as active for all tab sections
    document.addEventListener('DOMContentLoaded', function() {
        var activeTabs = document.querySelectorAll('.tabcontent.active');
        activeTabs.forEach(function(tab) {
            tab.style.display = "block";
        });
    });
</script>

{% endblock %}